{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}

    {% set locale = flextype.entries.fetch('locale/' ~ request.getUri().getPath()|split('/').1) %}

    <div class="text-center mb-10">
        <h1 class="text-center uppercase text-6xl font-bold tracking-wider">{{ entry.title }}</h1>
        <div class="text-xl"><a href="{{ url() }}">BIBLE</a></div>
    </div>

    {% set cacheID = strings(entry.id).hash().toString() %}

    {% if (cache.has(cacheID)) %}
        {% set items = flextype.cache.get(cacheID) %}
    {% else %}
        {% set items = flextype.entries.fetch(entry.id, {'collection': true}).sortBy('id', 'asc') %}
        {% do flextype.cache.set(cacheID, items) %}
    {% endif %}

    <div class="container text-left mt-20 mx-auto">
        <ul class="columns">
        {% for item in items %}
            <li><a class="uppercase font-bold text-black py-3 px-4 hover:text-gray-700 hover:border-gray-700" href="{{ url() }}/{{ item.id }}">{{ item.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
