{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}

    {% set locale = flextype.entries.fetch('locale/' ~ request.getUri().getPath()|split('/').1) %}
    {% set book = flextype.entries.fetch('locale/' ~ request.getUri().getPath()|split('/').1 ~ '/' ~ request.getUri().getPath()|split('/').2) %}
    {% set chapter = flextype.entries.fetch('locale/' ~ request.getUri().getPath()|split('/').1 ~ '/' ~ request.getUri().getPath()|split('/').2 ~ '/' ~ request.getUri().getPath()|split('/').3) %}

    <div class="text-center mb-10 text-center uppercase">
        <h1 class="text-6xl font-bold tracking-wider">{{ entry.title }}</h1>
        <div class="text-xl"><a class="hover:text-gray-700" href="{{ url() }}">BIBLE</a> / <a class="hover:text-gray-700" href="{{ url() }}/{{ locale.id }}">{{ locale.title }}</a> / <a class="hover:text-gray-700" href="{{ url() }}/{{ book.id }}">{{ book.title }}</a> / <a class="hover:text-gray-700" href="{{ url() }}/{{ chapter.id }}">{{ chapter.title }}</a></div>
    </div>

    <div class="text-3xl mx-auto text-center" style="width: 600px;">
        {{ entry.content }}
    </div>
{% endblock %}
